.hero {
  display: flex;
  gap: 60px;
  padding: 100px 80px;
  align-items: center;
}

.hero-content h1 {
  font-size: 56px;
  font-weight: 900;
}

.hero-content h1 span {
  color: #135bec;
}

.hero-content p {
  font-size: 18px;
  color: #666;
  max-width: 550px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.secondary-btn {
  background: transparent;
  border: 1px solid #ccc;
  padding: 12px 20px;
  border-radius: 8px;
}
