* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: #f6f6f8;
  color: #0f172a;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
}

.primary-btn {
  background: #135bec;
  color: white;
  padding: 14px 28px;
  font-weight: 700;
  border-radius: 10px;
}

.primary-btn:hover {
  opacity: 0.9;
}
